.history/

docker.toberemoved

test/

config/TMP.yml
config/docker-compose.OLD

config/beats/heartbeat/heartbeat.fail.yml
config/apm/apm-server/apm-server.reference.yml
config/beats/filebeat/filebeat.reference.yml 
config/beats/packetbeat/packetbeat.reference.yml

installation.info
